.body {
    background-color: black;
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

.signForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

.loginBttn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
}